.inputPanel{
  background-color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input{
    width: 100%;
    border: none;
    outline: none;
    color: #2f2d52;
    font-size: 1.5rem;

    &::placeholder{
      color: lightgrey;
    }

  }

  .send{
    display: flex;
    align-items: center;
    gap:1em;

    img{
      height:2em;
      cursor: pointer;
    }

    button{
      border: none;
      padding: 1em;
      color: white;
      background-color: #8da4f1;
      cursor: pointer;
    }
  }
}